/* 布局框 */

.home-space {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.home-space h1, .home-space h2, .home-space h3, .home-space h4 {
  margin: 0.5rem 0;
}

.home-space section {
  position: relative;
  min-height: 100vh;
  padding: 5rem;
}

/* 卡片部分 */

.home-space section.home-01 {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  padding: 0;
  z-index: 30;
  overflow: hidden;
}

.handle {
  cursor: grab;
  user-select: none;
}

.react-draggable-dragging {
  cursor: grabbing;
}

.home-space section.home-02 {
  z-index: 50;
  overflow: hidden;
  background-color: var(--BG-P);
}

.home-space section.home-03 {
  position: relative;
  overflow: hidden;
  box-shadow: 0 -1px 0px var(--Border);
}

.home-space section.home-03 [data-rellax-speed] {
  position: absolute;
  right: 0;
  width: 50%;
  opacity: 0.48;
}

.home-space section.home-03 .ring {
  position: absolute;
  bottom: 25vh;
  left: 2vw;
}

.home-space section.home-04 {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.home-space section.home-05 {
  padding: 1rem;
  grid-column: span 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 'a b c' 'd e f';
  gap: 1rem;
  overflow: hidden;
}

.home-space section.home-05 .column {
  position: relative;
  padding: 3.5rem 2.5rem 1rem;
  z-index: 20;
}

.home-space section.home-05 .column::before {
  position: absolute;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background-color: var(--Border);
  transform: scaleX(0);
  transform-origin: right center;
  transition: transform var(--ease-3);
  pointer-events: none;
  backdrop-filter: var(--Glass);
  z-index: -1;
}

.home-space section.home-05 .column:hover::before {
  transform: scaleX(1);
  transform-origin: left center;
}

.home-space section.home-05 h1 {
  line-height: 1;
  margin: 0;
  font-size: 4vw;
}

.home-space section.home-05 p {
  font-size: 0.875rem;
}

.home-space section.home-05 .lottie-space {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  overflow: hidden;
}

.lottie-space path {
  fill: var(--Style);
}

.home-space section.home-06 {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  grid-column: span 2;
}

@media screen and (max-width: 48rem) {
  .home-space {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "a" "b";
  }
  .home-space section {
    padding: 1.755rem;
  }
  .home-space section.home-01 {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem 1.75rem 3rem;
    grid-area: b;
    min-height: calc(100vh - 100vw);
    top: 24vh;
  }
  .handle {
    transform: translate(0, 0) !important;
    pointer-events: none;
  }
  .home-space section.home-02 {
    grid-area: a;
    min-height: calc(100vw + 2.75rem);
  }
  .home-space section.home-03 .ring {
    left: -2rem;
  }
  .home-space section.home-04 {
    z-index: 35;
    background-color: var(--BG-P);
  }
  .home-space section.home-05 {
    grid-template-columns: repeat(2, 1fr);
    z-index: 40;
    grid-template-areas: 'a d' 'b e' 'c f';
    box-shadow: inset 0 1px 0 var(--Border);
  }
  .home-space section.home-05 .column {
    padding: 3.5rem 0.75rem 1rem;
  }
  .home-space section.home-05 .column::before {
    background-color: transparent;
    backdrop-filter: none;
  }
  .home-space section.home-05 h1 {
    font-size: 8vw;
  }
  .home-space section.home-06 {
    z-index: 45;
  }
}

/* login */

.login-style {
  --theme-ui-colors-primary: var(--Style)!important;
  background-color: var(--Glass-BG-P);
}

.login-style button {
  font-family: inherit;
}

.login-style form button {
  color: black;
  transition: var(--ease-3);
  border-radius: 0
}

.login-style form button:hover {
  box-shadow: 0 0 0 2px var(--BG-P),0 0 0 4px var(--Style);
}

.login-style form hr+button {
  color: var(--Text-2);
  background-color: transparent;
}

.login-style div:nth-child(1) {
  max-width: 24rem;
  min-width: 16rem;
}

.login-style div div:nth-child(1) {
  display: none;
}

.login-style div div:nth-child(2) {
  padding: 0 1.5rem;
}

.login-style div:nth-child(2) button {
  --theme-ui-colors-primary: var(--Text-1)!important;
  --theme-ui-colors-border: var(--Text-3);
  outline: none;
  border: none;
  background-color: var(--Border);
  border-radius: 0
}

.login-style div, .content-main form {
  background-color: transparent;
  box-shadow: 0 0 0 0 transparent;
}

.login-style p {
  color: var(--Text-2);
}

.login-style input {
  font-family: inherit;
  background-color: var(--Border);
  backdrop-filter: var(--Glass);
  box-shadow: 0 0 0 1px transparent;
  transition: var(--ease-3);
  height: 3rem;
  outline: none;
  border: none;
  color: var(--Text-1)!important;
  border-radius: 0;
}

.login-style input:focus {
  box-shadow: 0 0 0 2px var(--Style);
}

.login-style input::-webkit-input-placeholder {
  color: var(--Text-3);
}

.login-style hr {
  height: 1px;
  background-color: var(--Border);
  border: none;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0!important;
}

.login-box .lottie-space {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  overflow: hidden;
}

.signout-btn {
  width: 100%;
  height: 3rem;
  border-radius: 0;
  margin-top: 2rem;
  background-color: var(--Style);
  font-weight: 700;
  font-size: 1rem;
  transition: var(--ease-3);
  color: black;
  outline: none;
  border: none;
}

.signout-btn:hover {
  box-shadow: 0 0 0 2px var(--BG-P),0 0 0 4px var(--Style);
}

@media screen and (max-width: 48rem) {
  .login-box:nth-child(1) {
    grid-area: a;
  }
  .login-box:nth-child(2) {
    grid-area: a;
  }
  .login-box .lottie-space #lottie {
    transform: translateY(30vh);
  }
}