/* 布局框 */

.home-space {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.home-space h1, .home-space h2, .home-space h3, .home-space h4 {
  margin: 0.5rem 0;
}

.home-space section {
  position: relative;
  min-height: 100vh;
  padding: 5rem;
}

/* 卡片部分 */

.home-space section.home-01 {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  padding: 0;
  z-index: 30;
  overflow: hidden;
}

.handle {
  cursor: grab;
  user-select: none;
}

.react-draggable-dragging {
  cursor: grabbing;
}

.home-space section.home-02 {
  z-index: 50;
  overflow: hidden;
  background-color: var(--BG-P);
}

.home-space section.home-03 {
  position: relative;
  overflow: hidden;
  box-shadow: 0 -1px 0px var(--Border);
}

.home-space section.home-03 [data-rellax-speed] {
  position: absolute;
  right: 0;
  width: 50%;
  opacity: 0.48;
}

.home-space section.home-03 .ring {
  position: absolute;
  bottom: 25vh;
  left: 2vw;
}

.home-space section.home-04 {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.home-space section.home-05 {
  padding: 1rem;
  grid-column: span 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 'a b c' 'd e f';
  gap: 1rem;
  overflow: hidden;
}

.home-space section.home-05 .column {
  position: relative;
  /* background-color: var(--BG-S); */
  padding: 3rem 2rem;
  z-index: 20;
}

.home-space section.home-05 .column::before {
  position: absolute;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background-color: var(--Border);
  transform: scaleX(0);
  transform-origin: right center;
  transition: transform var(--ease-3);
  pointer-events: none;
}

.home-space section.home-05 .column:hover::before {
  transform: scaleX(1);
  transform-origin: left center;
}


.home-space section.home-05 h1 {
  line-height: 1;
  margin: 0;
  font-size: 4vw;
}

.home-space section.home-05 p {
  font-size: 0.875rem;
}

.home-space section.home-05 .lottie-space {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  overflow: hidden;
}

.home-space section.home-06 {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  grid-column: span 2;
}

@media screen and (max-width: 48rem) {
  .home-space {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "a" "b";
  }
  .home-space section {
    padding: 1.755rem;
  }
  .home-space section.home-01 {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem 1.75rem 3rem;
    grid-area: b;
    min-height: calc(100vh - 100vw);
    top: 24vh;
  }
  .handle {
    transform: translate(0, 0) !important;
    pointer-events: none;
  }
  .home-space section.home-02 {
    grid-area: a;
    /* min-height: 100vw; */
    min-height: calc(100vw + 2.75rem);
  }
  .home-space section.home-03 .ring {
    left: -2rem;
  }
  .home-space section.home-04 {
    z-index: 35;
    background-color: var(--BG-P);
  }
  .home-space section.home-05 {
    grid-template-columns: repeat(2, 1fr);
    z-index: 40;
    grid-template-areas: 'a d' 'b e' 'c f';
    box-shadow: inset 0 1px 0 var(--Border);
  }
  .home-space section.home-05 .column {
    padding: 0.75rem;
  }
  .home-space section.home-05 .column::before {
    background-color: transparent;
  }
  .home-space section.home-05 h1 {
    font-size: 8vw;
  }
  .home-space section.home-06 {
    z-index: 45;
  }
}

.test-card {
  width: 500px;
  height: 500px;
  background-color: gray;
}