/* 导航 z-index:2000 */
/* 社交组件 z-index:60 */
/* 随机 banner z-index 50 */
/* 页面进度圈 z-index: 46 */
/* 移动footer z-index: 45 */
/* 首页吸附滚动卡片 z-index:30 */
/* 文章页吸附tab z-index:20 */

/* 字体调用 */

@font-face {
  font-family: "M";
  src: url("../fonts/WidescreenVF-WghtWdthMixd.ttf");
}

@font-face {
  font-family: "inter";
  src: url("../fonts/inter/Inter-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "inter";
  src: url("../fonts/inter/Inter-Medium.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Termina";
  src: url("../fonts/Termina-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Termina";
  src: url("../fonts/Termina-Demi.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Termina";
  src: url("../fonts/Termina-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Termina";
  src: url("../fonts/Termina-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Loop";
  src: url("../fonts/loop/AlibabaTeambitionLoop01-SemiBold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "jet";
  src: url("../fonts/JetBrainsMono-Medium.ttf");
}

@font-face {
  font-family: "uuicon";
  src: url("../fonts/uuicon.ttf");
}

/* 全局属性 */

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
}

html {
  --BG-P: rgb(250, 248, 246);
  --BG-OP: rgba(250, 248, 246, 0);
  --BG-S: rgb(242, 240, 238);
  --Text-1: rgb(26, 26, 26);
  --Text-2: rgba(26, 26, 26, 0.6);
  --Text-3: rgba(26, 26, 26, 0.2);
  --Border: rgba(0,0,0,0.08);
  --Glass: saturate(200%) blur(1.25rem);
  --Glass-BG-P: #fff;
  --Glass-BG-S: var(--BG-P);
  --Style: color(display-p3 0.090196 1 0.650980);
  --ease-3: 0.3s ease-out;
  --cubic-66: 0.66s cubic-bezier(0.66, 0, 0.01, 1);
  --cubic-menu: 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  /* scroll-behavior: smooth; */
}

@supports not (color: color(display-p3 1 1 1)) {
  html {
    --Style: #17ffa6;
  }
}

::-webkit-scrollbar {
  display: none;
}

@supports (backdrop-filter: none) {
  html {
    --Glass-BG-P: rgba(255, 255, 255, 0.88);
    --Glass-BG-S: rgba(250, 248, 246, 0.75);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    --BG-P: rgb(22, 20, 20);
    --BG-OP: rgba(22, 20, 20, 0);
    --BG-S: rgb(26, 24, 24);
    --Text-1: rgb(255, 255, 255);
    --Text-2: rgba(255, 255, 255, 0.6);
    --Text-3: rgba(255, 255, 255, 0.2);
    --Border: rgba(255, 255, 255,0.05);
    --Glass-BG-P: rgb(32, 30, 30);
    --Glass-BG-S: var(--BG-P);
    --Style: color(display-p3 0 0.878431 0.541176);
  }
  @supports not (color: color(display-p3 1 1 1)) {
    html {
      --Style: #00E08A;
    }
  }
  @supports (backdrop-filter: none) {
    html {
      --Glass-BG-P: rgba(32, 30, 30, 0.88);
      --Glass-BG-S: rgba(22, 20, 20, 0.75);
    }
  }
}

::selection {
  --selection: rgb(23, 255, 166);
  background-color: var(--selection);
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-family: "Termina", "PingFang", sans-serif;
  background-color: var(--BG-P);
  color: var(--Text-1);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  animation: fadein 1s ease 1s backwards;
  caret-color: var(--Text-1);
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h1, h2, h3, h4 {
  line-height: 1.5;
  margin-top: 1rem;
  -webkit-tap-highlight-color: transparent;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
}

h4 {
  font-size: 1.25rem;
  font-weight: 500;
}

p, a {
  line-height: 1.5;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
}

a {
  cursor: pointer;
  color: var(--Text-1);
  transition: color var(--ease-3);
}

a, a:hover, a:active, a:visited, a:link, a:focus {
  -webkit-tap-highlight-color: transparent;
}

a:hover {
  color: var(--Text-2);
}

img, video {
  width: 100%;
  display: block;
}

/* 基础类型移动版 */

@media screen and (max-width: 48rem) {
  h1, h2, h3, h4, p, a {
    margin-top: 0.8rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
}

div {
  outline: 0 none;
  -webkit-tap-highlight-color: transparent;
}

/* 自定义通用 */

.action {
  font-size: 0.875rem;
}

.big-stroke {
  -webkit-text-stroke: 1px var(--Text-1);
  color: transparent;
}

.big-vf {
  -webkit-font-smoothing: antialiased!important;
  -webkit-text-size-adjust: 100%!important;
  font-family: "M";
  font-feature-settings: "kern", "liga", "calt", "ss02";
  line-height: 1;
  font-size: 5vw;
  letter-spacing: 0;
  font-variation-settings: "wght" 900, "MIXD" 100, "wdth" 118;
}

.big-motion {
  animation: fontmotion 6s cubic-bezier(0.66, 0, 0.01, 1) alternate infinite backwards;
}

.big-ss01 {
  font-feature-settings: "kern", "liga", "calt", "ss01";
}

@keyframes fontmotion {
  0% {
    font-variation-settings: "wght" 900, "MIXD" 100, "wdth" 118;
    letter-spacing: 0;
  }
  40% {
    font-variation-settings: "wght" 900, "MIXD" 100, "wdth" 118;
    letter-spacing: 0;
  }
  60% {
    font-variation-settings: "wght" 900, "MIXD" 140, "wdth" 100;
    letter-spacing: -0.01em;
  }
  100% {
    font-variation-settings: "wght" 900, "MIXD" 140, "wdth" 100;
    letter-spacing: -0.01em;
  }
}

@media screen and (max-width: 48rem) {
  .big-vf {
    font-size: 11.8vw;
  }
}

/* 全局动画 */

.zoom-in {
  animation: zoomin 0.5s ease 1s backwards;
  transform-origin: 50% 0%;
}

@keyframes zoomin {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.zoom-out {
  animation: zoomout 1s ease 1.2s backwards;
  transform-origin: 50% 0%;
}

@keyframes zoomout {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* 美洽 */
#meiqia-container iframe {
  transform: translateZ(2000px);
}
